
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: rgb(222, 233, 245);

}

.navbarI {
  overflow: hidden;
  background-color: rgb(94, 152, 211);
}

.navbarI a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnavI {
  float: left;
  overflow: hidden;
}

.subnavI .subnavbtnI {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbarI a:hover, .subnavI:hover .subnavbtnI {
  background-color: rgb(32, 100, 168);
}

.subnav-contentI {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgb(32, 100, 168);
  width: 100%;
  z-index: 1;
}

.subnav-contentI a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-contentI a:hover {
  background-color: rgb(0, 40, 80);
  color: white;
}

.subnavI:hover .subnav-contentI {
  display: block;
}
