<form [formGroup]="productForm" (ngSubmit)="addProduct()">
  <fieldset class="form1">
    <legend>{{ titulo | uppercase }}</legend>
    <table>


      <tr>
        <td><label for="product">Producto:</label></td>
        <td><label for="category">Categoría:</label></td>
      </tr>
      <tr>
        <td><input type="text" id="product" formControlName="product" placeholder="Smart TV Samsung"></td>
        <td><input type="text" id="category" formControlName="category" placeholder="Electrodomésticos"></td>
        <!-- <div  class="custom-select" >
          <select name="categoria">
          <option value="Eletronicos"selected="selected">Eletronicos</option>
          <option value="Musica" >Musica</option>
          <option value="Hogar">Hogar</option>
          <option value="Otros">Otros</option>
          </select>
        </div> -->
      </tr>
      <tr class="height-error">
        <td>
          <div class="text-danger" *ngIf="productForm.get('product')?.hasError('required') &&
                 productForm.get('product')?.touched">
            <span>El nombre del producto <strong>es obligatorio</strong></span>
          </div>
        </td>
        <td>
          <div class="text-danger" *ngIf="productForm.get('category')?.hasError('required') &&
                 productForm.get('category')?.touched">
            <span>La ubicación del producto <strong>es obligatoria</strong></span>
          </div>
        </td>

      </tr>
      <tr>
        <td><label for="location">Ubicación:</label></td>
        <td><label for="price">Precio:</label></td>
      </tr>
      <tr>
        <td><input type="text" id="location" formControlName="location" placeholder="Ontinyent"></td>
        <td><input type="number" id="price" formControlName="price" min="1" step="any" placeholder="175.00">€</td>

      </tr>
      <tr class="height-error">
        <td>
          <div class="text-danger" *ngIf="productForm.get('location')?.hasError('required') &&
                 productForm.get('location')?.touched">
                 <span><strong>Es obligatorio</strong> un lugar</span>
                </div>
        </td>
        <td>
          <div class="text-danger" *ngIf="productForm.get('price')?.hasError('required') &&
                 productForm.get('price')?.touched">
            <span>El precio del producto <strong>es obligatoria</strong></span>
          </div>
        </td>

      </tr>
    </table>
    <button routerLink="/list-products">VOLVER</button>
    <button type="submit" [disabled]="!productForm.valid"  >ACEPTAR</button>
  </fieldset>
</form>
