//Estilo iconos awesome y buttons
fa-icon {
  color: grey;
  cursor: pointer;
}

.delete:hover {
  color: darkred;
}

.update {
  padding: 10px;

}

.update:hover {
  color: blue;
}


.addProduct {
  cursor: pointer;
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: greenyellow;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 20px;

}

.addProduct:hover {
  background-color: greenyellow;
  color: green;

}


//estilo del formulario
table {
  background-color: paleturquoise;
  border-collapse: collapse;
  border-radius: 5px;

}

legend {
  border: 1px solid black;
  background-color: mistyrose;
  border-radius: 5px;
}



.list-product,
table {
  table-layout: auto;
  width: 800px;

  text-align: center;
  margin: 0 auto;
}

.list-product {
  margin-top: 40px;
}

th,
td {
  width: 25%;
  text-align: initial;
  vertical-align: top;

}

tr:nth-child(2n+0) {
  background-color: beige;
}

tbody>tr:nth-child(2n+1) {
  background-color: lightcyan;
}

.titulo {
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
}

tbody>tr:hover {
  background-color: gainsboro;
  border-color: green;
cursor: pointer;
}
