<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">LISTADO DE PRODUCTOS</span>
          <fa-icon [icon]="faPlus" class="addProduct" routerLink="/createProducts" ></fa-icon>


          <table *ngIf="listProducts.length > 0" class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Categoria</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of listProducts">
                <td>{{ product.nombre }}</td>
                <td>{{ product.categoria }}</td>
                <td>{{ product.ubicacion }}</td>
                <td>{{ product.precio | currency: 'EUR' }}</td>
                <td>
                  <fa-icon [icon]="faTrash" class="delete" id={{product._id}} (click)="deleteProduct(product._id)">
                  </fa-icon>
                </td>
                <td>

                  <i [routerLink]="['/editar-product', product._id ]" class="fas fa-edit text-primary"></i>
                  <!-- <i (click)="eliminarProducto(product._id)" class="fas fa-trash text-danger"></i> -->
                </td>
              </tr>
            </tbody>
          </table>
          <h5 *ngIf="listProducts.length == 0">No hay productos para mostrar</h5>
        </div>
      </div>
    </div>
  </div>
</div>
